/* CONVENÇÃO BEM (BLOCO ELEMENTO E MODIFICADOR) */

.body-contentet {
    position: relative;
    background: #1f1f1f;
    overflow: hidden;
}

.buble {
    background: #c7c7c7;
    position: absolute;
    margin-left: 3rem;
    height: 40rem;
    width: 40rem;
    border-radius: 50rem;
    background: rgb(199,199,199);
    background: linear-gradient(180deg, rgba(199,199,199,1) 0%, rgba(31,31,31,1) 68%, rgba(31,31,31,1) 100%);
    transform: rotate(-45deg);
    opacity: 0.03;
    top: 35rem;
    z-index: 3;
}

.buble2 {
    background: #c7c7c7;
    position: absolute;
    margin-left: 3rem;
    height: 30rem;
    width: 50rem;
    border-radius: 50rem;
    background: rgb(199,199,199);
    background: linear-gradient(180deg, rgba(199,199,199,1) 0%, rgba(31,31,31,1) 68%, rgba(31,31,31,1) 100%);
    transform: rotate(-45deg);
    opacity: 0.03;
    top: 35rem;
    z-index: 3;
}

.buble3 {
    background: #c7c7c7;
    position: absolute;
    right: -30rem;
    height: 50rem;
    width: 50rem;
    border-radius: 50rem;
    background: rgb(199,199,199);
    background: linear-gradient(180deg, rgba(199,199,199,1) 0%, rgba(31,31,31,1) 68%, rgba(31,31,31,1) 100%);
    transform: rotate(-45deg);
    opacity: 0.03;
    top: 45rem;
    z-index: 3;
}

.buble4 {
    background: #c7c7c7;
    position: absolute;
    left: -20rem;
    height: 60rem;
    width: 60rem;
    border-radius: 50rem;
    background: rgb(199,199,199);
    background: linear-gradient(180deg, rgba(199,199,199,1) 0%, rgba(31,31,31,1) 68%, rgba(31,31,31,1) 100%);
    transform: rotate(60deg);
    opacity: 0.03;
    bottom: -25rem;
    z-index: 3;
}

header {
    background-image: url("../assets/images/pexels-negative-space-160107.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    height: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
}

.gradient-header {
    position: absolute;
    background-image: linear-gradient(to right, rgba(17, 16, 16, 0.774) , transparent);
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-info {
    max-width: 480px;
    display: flex;
    flex-direction: column;
}

.content-image {
    min-height: 200px;
    margin-left: -50px;
    top: 0;
    position: relative;
}

.copy-email{
    padding: 0 6px;
    background: none;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.copy-email:hover{
    text-decoration: none;
}

.copy-email i:hover::before {
    outline: none;
    color: #59c2ff;
}

main {
    position: relative;
    z-index: 2;
}

.img-eu {
    background-color: #aaa;
    border-radius: 50%;
    width: 245px;
    height: 245px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border: 3px solid transparent !important;
    background: radial-gradient(circle, rgba(18, 115, 187, 1) 0%, rgb(129, 194, 247) 52%, rgb(66, 164, 245) 100%);
    -webkit-box-shadow: 0px 0px 24px 6px rgba(66, 128, 194, 0.48);
    -moz-box-shadow: 0px 0px 24px 6px rgba(66, 128, 194, 0.48);
    box-shadow: 0px 0px 24px 6px rgba(66, 128, 194, 0.48);
}

.img-eu img {
    background-color: #303030;
    border-radius: 50%;
    width: 245px;
    height: 245px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

@media screen and (max-width: 400px) {
    .img-eu {
        width: 100px;
        height: 100%;
    }
    .img-eu > img {
        width: 100px;
        height: 100px;
    }
}

.my-name {
    padding: 15px;
    color: white;
    margin-bottom: 15px;
}

.my-name>h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.my-name>span {
    font-size: 1.2rem;
    color: #ffffff;
}

.my-social {
    width: max-content;
    padding: 10px 30px 10px 0;
    border-radius: 5px;
}

.my-social>a {
    margin-right: 24px;
    text-decoration: none;
}

.my-social>a:hover {
    text-decoration: none;
}

.my-social>a>i {
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    text-decoration: none;
}

.my-social>a>i:hover {
    color: rgb(198, 222, 255);
}

.langs {
    text-align: center;
    padding-top: 15px;
}

.langs>a {
    margin: 5px;
    background: transparent;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 24px 6px rgba(66, 128, 194, 0.48);
    -moz-box-shadow: 0px 0px 24px 6px rgba(66, 128, 194, 0.48);
    box-shadow: 0px 0px 24px 6px rgba(66, 128, 194, 0.48);
}

.traco-azul {
    height: 3px;
    background: linear-gradient(to right, rgb(43, 43, 43) 2%, #5cb3e6 79%);
    width: 50%;
    margin-top: 8px;
}

.illustracao-e-frase {
    border-top: #ccc 1.5px solid;
    margin-top: 36px;
    padding-top: 12px;
}

.illustracao-e-frase>div>div>img {
    width: 250px;
    object-fit: cover;
}

.illustracao-e-frase>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustracao-e-frase>div>div>p {
    margin: 0 auto;
    text-align: center;
    color: #919191;
}

.illustracao-e-frase>div>div>p>span {
    font-size: 14px;
}


/* txt */

.matt-txt>p>strong {
    font-size: 15pt;
    color: #219ae0;
}

.matt-txt {
    color: #a1a1a1;
    padding: 25px;
    margin: 5% 2px 5px 2px;
}

.matt-txt>.title {
    width: max-content;
    margin: 0 auto;
}

.matt-txt>.title>h2 {
    text-align: center;
}

.matt-txt>p {
    text-align: justify;
}


/* card */

.matt-card {
    color: #a1a1a1;
    padding: 25px;
    margin: 3% 2px 10px 2px;
    border-radius: 20px;
    /* From https://css.glass */
    background: rgba(48, 48, 48, 0.55);
    border-radius: 16px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(78, 78, 78, 0.42);
}

.matt-card>.title {
    width: max-content;
}

.matt-card>.title>h2 h3 {
    text-align: center;
}

.matt-card>p {
    text-align: justify;
}


/*  */

.endereco>ul>li {
    list-style: none;
    margin-right: 30px;
}

.item-skill-tool {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

.item-skill-tool>img {
    width: 20px;
    margin: 10px;
    color: rgb(255, 187, 0);
}

#icon-skill-html {
    font-size: 30px;
    margin: 10px;
    color: rgb(255, 102, 0);
}

#icon-skill-css {
    font-size: 23px;
    margin: 10px;
    color: rgb(0, 140, 255);
}

#icon-skill-js {
    font-size: 23px;
    margin: 10px;
    color: rgb(255, 187, 0);
}

#icon-skill-node-js {
    font-size: 23px;
    margin: 10px;
    color: rgb(29, 175, 0);
}

#icon-skill-angular {
    font-size: 23px;
    margin: 10px;
    color: rgb(255, 38, 0);
}

#icon-skill-react {
    font-size: 23px;
    margin: 10px;
    color: rgb(158, 17, 223);
}

.level-bar-html {
    height: 6px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background: linear-gradient(to right, rgb(255, 102, 0) 0%, #ff9659 52%);
}

.level-bar-css {
    height: 6px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background: linear-gradient(to right, rgb(0, 140, 255) 0%, #59c2ff 52%);
}

.level-bar-js {
    height: 6px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background: linear-gradient(to right, rgb(255, 187, 0) 0%, #ffe659 52%);
}

.level-bar-node-js {
    height: 6px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background: linear-gradient(to right, rgb(29, 175, 0) 0%, #9bff59 52%);
}

.level-bar-react {
    height: 6px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background: linear-gradient(to right, rgb(158, 17, 223) 0%, #c384f7 52%);
}

.level-bar-angular {
    height: 6px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background: linear-gradient(to right, rgb(255, 38, 0) 0%, #ff5959 52%);
}

.level-bar-photoshop {
    height: 6px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background: linear-gradient(to right, #083a74 0%, #2492DF 52%);
}

.level-bar-xd {
    height: 6px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background: linear-gradient(to right, #5e0748 0%, #F75DED 52%);
}

#skill-porcentagem {
    margin-left: auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: rgb(206, 206, 206);
}